<form action="/user/update/{{post._id}}" method="POST">
  <label>категория<input type="text" name='category' value='{{post.category}}'></label>
  <label>text<input type='text' name='text' value='{{post.text}}'></input></label>
  <input type="submit">
</form>
